body {
background-color: #333;
}


#Logo{
background-color: #A9A9A9;
margin: 140px;
}


#text{
float: left; /* Обтекание справа */
margin: 140px;
width: 500px; /* Ширина колонки */
background-color: #D3D3D3;
}


#photo{
background-color: #808080;
margin: 140px;
 float: right; /* Обтекание справа */
  width: 25%; /* Ширина колонки */

}


#bot{
background-color: #696969;
margin: 140px;
padding:15px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: both; /* Отменяем обтекание */
}
