body {
background-color: #333;
}

.button {
   
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.1s;
}
#Logo1{
background-color: #A9A9A9;
margin: 90px;
padding:60px; /* Поля вокруг текста */
color: #fff; /* Цвет текста */
clear: both; /* Отменяем обтекание */
}
#Logo2{
background-color: rosybrown;
margin: 90px;
padding:60px; /* Поля вокруг текста */
color: #fff; /* Цвет текста */
clear: both; /* Отменяем обтекание */
}

#text{
float: left; /* Обтекание справа */
margin: 90px;
padding:60px;
width: 500px; /* Ширина колонки */
background-color: #D3D3D3;
}


#photo{
background-color: #808080;
margin: 90px;
padding:60px;
 float: right; /* Обтекание справа */
  width: 25%; /* Ширина колонки */

}


#bot{
background-color: #696969;
margin: 90px;
padding:15px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: both; /* Отменяем обтекание */
}